.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.dropdown-section {
    max-width: 1240px;
    width: 100%;
    min-width: 335px;
}

@media screen and (max-width: 769px){
    
    .about {
        min-width: 375px;
    }

}