.bloc-title {
    margin-bottom: 20px;
}

.logement-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    display: flex;
    align-items: flex-end;
    color: #FF6060;
    margin: 20px 0 10px 0;
}

.logement-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    max-width: 1240px;
    width: 100%;
    margin-bottom: 30px;
}

.logement-location {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    color: #FF6060;
}

.bloc-tags-rate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.bloc-host-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.bloc-host {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 20px;
}

.host-portrait {
    border-radius: 50%;
    width: 64px;
}

.host-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: right;
    color: #FF6060;
    width: 64px;
}

/*******************/
/**     Mobile    **/
/*******************/

@media screen and (max-width : 769px)
{    
    .logement-infos {
        padding: 0 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .logement-title {
        font-size: 18px;
        line-height: 26px;
    }

    .logement-location {
        font-size: 14px;
        line-height: 20px;
    }

    .bloc-host-rating {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .bloc-rate {
        order: 0;
    }

    .bloc-rate img {
        width: 15px;
        margin-right: 5px;
    }

    .bloc-host {
        order: 1;
        align-items: center;
        gap: 10px;
        margin: 0;
    }

    .bloc-host span {
        font-size: 12px;
        line-height: 17px;
    }

    .host-portrait {
        width: 32px;
        height: 32px;
    }

    

    
}
