.galerie {
    background: #F7F7F7;
    border-radius: 25px;
    max-width: 1240px;
    width: 100%;
    min-width: 375px;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 50px;
    gap: 50px;

}

@media screen and (max-width : 769px)
{    
    .galerie {
        background: none;
        padding: 0 20px;
    width: 100%;

    }

    .cards-container {
        padding: 0;
        gap: 20px;

    }
}

