.header-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 1240px;
    width: 100%;
    margin: 40px 0 63px 0;
}

@media screen and (max-width: 580px){
    .header-group {
        width: 335px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .logo {
        width: 145px;
    }

    .logo img {
        width:145px;
    }
}