.header-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    margin: 40px 0 25px 0;
}

/*******************/
/**     Mobile    **/
/*******************/

@media screen and (max-width : 769px)
{    
    .header-group {
        margin: 20px 0;
        padding: 0 20px;
    }
    .logo {
        width: 145px;
    }

    .logo img {
        width:145px;
    }
}