.menu-list {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: right;
    list-style-type: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FF6060;
}

.menu-list-item {
    margin-left: 55px;
    position: relative;
}

.menu-list-item a:link {
    text-decoration: none;
    color: #FF6060
}

.menu-list-item a:visited {
    text-decoration: none;
    color: #FF6060
}

.menu-list-item::before {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    top: 32px;
    left: 0;
    background-color: #FF6060;
}

@media screen and (max-width: 480px){
    .menu-list {
        font-size: 12px;
    }

    .menu-list-item {
        margin-left: 25px;
    }

    .menu-list-item::before {
        height: 1px;
        top: 18px;
    }
    
}